body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #e5bfa6;
  background-image: url(images/bullseye.png);
  background-repeat: space;
  

}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.2)
}
a {
  text-decoration: none;
}
a:link {
  color: #137600;
}
a:visited {
  color: #78b96b;
}
a:focus, a:hover {
  color: #c700f2;
  background-color:#fff;
}
a:active {
  color:#f0f
background-color:#fff;}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
