
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
background-color:#eddcd5;
margin: 2em 5%;
font-family: Georgia, "Times New Roman", Times, serif;

}
.black-text-shadow {
  text-shadow: 1px 1px 2px black;
}

h1 {
  color: #cb997e;
text-align: center;
font-family: "Abril+Fatface", Regular;
font-weight: bold;
text-transform: uppercase;
border-bottom: 1px solid #a5a58d;
margin-top: 30px;
margin-bottom: 40px;
font-size: 2em;
}

h2 {
  color: #cb997e;
font-family: Verdana, Geneva, sans-serif;
font-size: 1em;
}
small {
color: #999;
}
a:link {
  color: #993399;
}
a:visited {
  color: #937393;
}
a:focus, a:hover {
  color: #c700f2;
  background-color:#fff;
}
a:active {
  color:#f0f
}
